body, html {
  height: 100%;
  background-repeat: #eee;
}

.card {
  max-width: 350px;
  padding: 40px 40px;
  background-color: #F7F7F7;
  margin: 0 auto 25px;
  margin-top: 50px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img {
  width: 40%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.mb10 {
  margin: 0 0 10px 0;
}
